.profile {
  max-width: 880px;
  margin: 0 auto 51px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .profile {
    margin: 0 19px 36px;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column;
  }
}