.popup__image {
  display: block;
  max-width: 75vw;
  max-height: 75vh;
  overflow: hidden;
  margin-left: 40px;
}

@media screen and (max-width: 508px) {
  .popup__image {
    margin-left: 30px;
  }
}